node_modules/
.env
*.log
.DS_Store
.phemex-credentials.json
.phemex-ws-ema-prices.json
.phemex-ws-ema-position.json
data.rb
__pycache__
*.csv
package-lock.json
.phemex-order-history.json
kt-ticker/gradlew
kt-ticker/gradlew.bat
java-ticker/gradlew
java-ticker/gradlew.bat
java-ticker/.gradle
java-ticker/bin
java-ticker/build
kt-ticker/.gradle
kt-ticker/build
xtiusdt-last-price.txt
*.pid
