2026*
.phemex-ticker-cache.json
.phemex-ticker-prefs.json
ticker-graph.html
vendor
__pycache__
.DS_Store
.env
.phemex-credentials-gmail.json
.phemex-credentials-meta.json
.phemex-credentials.json
.credentials.json
.phemex-order-history.json
.phemex-ws-ema-position.json
.phemex-ws-ema-prices.json
.short-limit.pid
*.csv
*.log
*.pid
*.txt
data.rb
err
ticker/cpp-ticker/build
ticker/cpp-ticker/deps
ticker/csharp-ticker/bin
ticker/csharp-ticker/obj
ticker/go-ticker/go-ticker
ticker/java-ticker/.gradle
ticker/java-ticker/bin
ticker/java-ticker/build
ticker/java-ticker/gradle
ticker/java-ticker/gradlew
ticker/java-ticker/gradlew.bat
ticker/kt-ticker/.gradle
ticker/kt-ticker/build
ticker/kt-ticker/gradle
ticker/kt-ticker/gradlew
ticker/kt-ticker/gradlew.bat
ticker/php-ticker/vendor
ticker/rust-ticker/target
node_modules/
package-lock.json
src/lib/globals.json
xtiusdt-last-price.txt
model.onnx
.aider*
.phemex-last-close.json
data/
